@SelectColor : #2e73ff;

.designerBody {
    display: flex;
    height : 70vh;

    .designer-left {
        width        : 200px;
        overflow     : auto;
        padding-right: 16px;

        .ant-collapse {
            background-color: #ffffff;
        }

        .menuItem {
            display      : inline-block;
            margin-right : 6px;
            margin-bottom: 6px;
            border       : solid 1px #e1e1e1;
            cursor       : pointer;
            padding      : 2px 8px;

            &:hover {
                background-color: @SelectColor;
                color           : #ffffff;
            }
        }
    }

    .designer-content {
        flex            : auto;
        background-color: #e1e1e1;
        padding         : 10px;
        overflow        : auto;

        &>form {
            background-color: #ffffff;
            height          : 100%;

            &>.draggable-drag {
                height: 100%;
            }
        }
    }

    .designer-right {
        width       : 200px;
        overflow    : auto;
        padding-left: 16px;

        &::-webkit-scrollbar {
            width: 2px;
        }

        /* Edge */
        -ms-overflow-style:none;
        /* Firefox */
        scrollbar-width   : none;
    }
}

.dragTool {
    position  : relative;
    min-height: 40px;
    padding   : 2px;
    outline   : 1px dashed @SelectColor;
    overflow  : hidden;
    box-sizing: border-box;

    .dragTool-mask {
        position: absolute;
        top     : 0;
        left    : 0;
        right   : 0;
        bottom  : 0;
        z-index : 9;
    }

    .dragTool-left {
        position: absolute;
        top     : 0;
        left    : 0;
        z-index : 10;

        .dragTool-btn {
            margin-left: 4px;
        }
    }

    .dragTool-right {
        position: absolute;
        right   : 0;
        bottom  : 0;
        height  : 20px;
        z-index : 10;

        .dragTool-btn {
            margin-right: 4px;
        }
    }

    .dragTool-btn {
        display         : none;
        height          : 18px;
        line-height     : 18px;
        text-align      : center;
        color           : #fff;
        background-color: #2e73ff;
        cursor          : pointer;

    }

    &.active {
        outline: 2px solid @SelectColor;

        &>.dragTool-right,
        &>.dragTool-left {
            .dragTool-btn {
                display: inline-block
            }
        }

    }


    .dragTool {
        margin: 4px;
    }
}

.drag-div {
    &+& {
        margin-top: 5px
    }


}

.a-col-drag {
    min-height: 60px;
}